.github/
.venv/
docs/
sql/
.git/
.idea/
.vscode/
postgres/
pgadmin/
.mypy_cache/
__pycache__/
docker/dev.docker-compose.yml
docker/dev.Dockerfile
docker/Dockerfile
docker/docker-compose.yml
.DS_Store
.env
.env.example
.gitignore
.pre-commit-config.yaml
.python-version
poetry.toml
CHANGELOG.md
README.md
setup.cfg
test.sh
